# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/bulldozer-price-prediction-project/env/**
/heart-disease-project/env/**
/portfolioManagement/env/**
/sample_project/env/**
/bulldozer-price-prediction-project/data/**
/heart-disease-project/data/**
/portfolioManagement/data/**
/sample_project/data/**